<!doctype html>
<html lang=de xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset=utf-8>
		<title>Title</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
	</head>
	<body>
		<ul th:each="person : ${PersonenList}">
			<li th:text="${person.id}">ID</li>
			<li th:text="${person.anrede}">NN</li>
			<li th:text="${person.vorname}">NN</li>
			<li th:text="${person.nachname}">NN</li>
			<li th:text="${person.birthDate}">NN</li>
			<li th:text="${person.standort}">NN</li>
			<li th:text="${person.email}">NN</li>
		</ul>
		<a th:href="@{/index.html}">Back to Home page SEA</a>
	</body>
</html>